/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base Styles (Mobile First) */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    width: 100%;
    padding: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.section {
    width: 100%;
    min-height: 170px;
    background-color: #fff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px;
}

.section h2 {
    margin-bottom: 20px;
}

.task {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #FED4CA;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    cursor: grab;
}

.task-header-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.task-header {
    color: rgb(231, 13, 13);
    font-size: 16px;
    font-weight: bold;
}

.img-container {
    width: 16px;
    height: 16px;
}

.img-container img {
    max-width: 100%;
    max-height: 100%;
}

.date-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.date-text {
    font-size: 14px;
    font-weight: 600;
}

.task.dragging {
    opacity: 0.5;
}

/* Media Queries for Larger Screens */

/* Tablet Devices (768px and up) */
@media (min-width: 768px) {
    body {
        align-items: center;
    }
    .container {
        flex-direction: row;
        justify-content: space-around;
        gap: 2%;
        max-width: 1200px;
    }

    .section {
        min-height: 170px;
        width: 100%;
        padding: 20px;
    }

    .task-header {
        font-size: 18px; 
    }

    .date-text {
        font-size: 16px;
    }

    .img-container {
        width: 20px; 
        height: 20px;
    }
}

/* Desktop Devices (1024px and up) */
@media (min-width: 1024px) {
    .container {
        flex-direction: row;
        justify-content: space-around;
        gap: 2%;
    }

    .section {
        flex: 1;
        min-height: 170px;
    }
}
